<div class="lines">
  <table>
    <%= render partial: "range", locals: { hunk: hunk } %>

    <%= render partial: "line", collection: LineDecorator.decorate_collection(hunk.lines)  %>
  </table>
</div>