<tr>
  <td class="line-number left"><%= line.line_number.left %></td>
  <td class="line-number right"><%= line.line_number.right %></td>
  <td class="code <%= line.context_css_class %>">
    <pre><%= line.content %></pre>
  </td>
</tr>