<tr class="header">
  <td class="line-number left">...</td>
  <td class="line-number right">...</td>
  <td>
    <!-- TODO hunk.to_s -->
    <pre><%= "@@ #{hunk.old_range} #{hunk.new_range} @@ #{hunk.header}" %></pre>
  </td>
</tr>