<div id="stats">
  <span><strong><%= pluralize @pull_request.diff_files.count, "file" %></strong></span>
  <span class="addition">with <strong><%= pluralize @pull_request.diff_files.map(&:total_additions).inject(:+), 'addition'  %></strong></span>
  <span clas="deletion">and <strong><%= pluralize @pull_request.diff_files.map(&:total_deletions).inject(:+), 'deletion' %></strong></span>
</div>