html,body {
  margin: 0px;
  padding: 0px;
  font-family: Helvetica, sans-serif;
  color: #444;
}

#container {
  width: 920px;
  margin: 10px auto;
}

.clear-fix { clear:both;}

.diff-file {
  color: #555;
  font-family: Monaco, Courier, monospace, sans-serif;
  border: 1px solid #CCC;
  border-radius:5px;
  margin-bottom: 20px;
}

.diff-file .info {
  background: #EEE;
  text-shadow: 1px 1px #FEFEFE;
  font-size:13px;
  padding: 6px 10px;
  border-bottom: 1px solid #CCC;
  border-radius: 5px 5px 0 0;

}

.diff-file tr.header {
  background: #EEEFFF;
  color: #BBB;
  padding: 4px 10px;
  font-size: 14px;
  border-bottom: 1px solid #CCC;
}

.diff-file .lines table {
  width: 100%;
  border-collapse: collapse;
}


.diff-file tr:last-child td.code {
  border-radius: 0 0 5px 0;
}

.diff-file tr:last-child td.left {
  border-radius: 0 0 0 5px;
}

.diff-file .line-number {
  border-right: 1px solid #CCC;
  background: #FAFAFA;
  color: #AAA;
  font-size: 12px;
  width: 50px;
  text-align: center;

}

.diff-file .code {
  float:right;
  color: #333;
  background: #FFF;
  width:840px;
  padding:0 2px;
  font-size: 14px;
  overflow: hidden;
}

.diff-file .addition {
  background-color: #BFC;
}

.diff-file .deletion {
  background-color: #FBC;
}

.diff-file pre {
  margin:2px;
}